# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Vector database
data/vector_store/
notebook/data/vector_store/
# OS files
.DS_Store

# Logs
*.log
